## Google Colab 단축키

- 편집 모드
 - 편집 모드로 들어가려면 셀 위에서 마우스 더블클릭
 - 편집 모드에서 나오려면 ESC 키

- 코드 수행
 - Ctrl + ENTER : 해당 셀 수행: 
 - Shift + ENTER = 해당 셀을 실행하고 커서를 다음 셀로 넘김
 - Alt + ENTER = 해당 셀을 실행하고 셀을 삽입한 후 커서를 삽입한 셀로 넘김 

- 셀 삽입/삭제
 - Ctrl + M A: 코드 셀 위에 삽입
 - Ctrl + M B: 코드 셀 아래 삽입
 - Ctrl + M D: 셀 지우기
 - Ctrl + M Y: 코드 셀로 변경
 - Ctrl + M M: 마크다운 셀로 변경
 - Ctrl + M Z: 실행 취소
 
- 모든 출력지우기: Ctrl + Shift + P -> "모든 출력 지우기"

- 참고: [구글 코랩(Colab) 단축키 모음](https://surfonmedia.tistory.com/1)

## 시작

In [22]:
print("Hello World !!!")
print("Hello World !!!")

Hello World !!!
Hello World !!!

In [ ]:
a = 110
print(a)

In [ ]:
a = input("아무 글자나 입력해 보세요: ")
print(a)

## 기본 자료형

### 숫자 (Numerical)

In [ ]:
a = 2 ** 4
print(a)

a = 7 / 4
print (a)

a = 7 // 4    # 몫만 취하는 나누기
print (a)

In [ ]:
# round (숫자, 표시할 소수점 자릿수)

print(round (3.141592, 3))
print(round (3.4))
print(round (3.6))

In [ ]:
a = 3.141592
print(a, '   ', type(a))
a = int (a)
print(a, '   ',  type(a))
a = float (a)
print(a, '   ',  type(a))

### 문자열 (String)

In [ ]:
multiline = '''
Multi-line string test
Multi-line Multi-line Multi-line Multi-line Multi-line 

'''
print(multiline)

In [ ]:
a = "abcdefg"
print(a[0])
print(a[6])
print(a[-1])
print(a[-2])

In [ ]:
print(a)
print(a[:])
print('---')

print(a[:3])
print(a[0:3])
print('---')

print(a[1:3])
print('---')

print(a[3:])

In [ ]:
a = "Pithon"
# a[1] = 'y'    # 오류를 출력하게됨

In [ ]:
b = a [:1] + 'y'+ a[2:]
print(b)

In [ ]:
a = 3
print("I eat %d apples" % a)
print("I eat %s apples" % "three")

print("I eat %d apples , I eat %s apples" % (a,"three"))

print("I eat %f apples" % 3.14)
print("I eat %s apples" % 3.14)

print("%d %% increased." % 4)

In [ ]:
print("|%10d|" % 314)
print("|%-10d|" % 314)
print("|%10.2f|" % 3.141592)

In [ ]:
a = "hobby"

print(a.count('b'))

print(a.find('o'))
print(a.find('s'))

print(a.index('o'))
print(a.index('s'))

In [ ]:
a = ","
b = a.join('abcd')
print(b)

In [ ]:
a = '   hi there   '

print('|' + a.upper() + '|')
print('|' + a.lower() + '|')

print('|' + a.lstrip() + '|')
print('|' + a.rstrip() + '|')
print('|' + a.strip() + '|')

print(a.replace("hi", "hello"))

In [ ]:
a = "Life is too short"
print(a.split())

a = "Life:is:too:short"
print(a.split())
print(a.split(':'))

### 리스트 (List)

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[-1])
print(a[-1][0])

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[1:3])

print(str(a[3])+'hi')

a[2] = 100
print(a)

In [ ]:
a = [1, 2, 3, 4, 5]

a[1:2] = ['a', 'b', 'c']
print(a)

In [ ]:
a = [1, 2, 3, 4, 5]

a[1] = ['a', 'b', 'c']
print(a)

In [ ]:
a = [1, 2, 3, 4, 5]

del a[1]
print(a)

그 이외의 함수들
- append
- sort
- reverse
- index
- insert
- remove
- pop
- count
- extend

## 02-4 튜플 자료형

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3

# del t3[2] # 오류출력

## 02-5 딕셔너리 자료형

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}
print(dic)

dic[4] = 'CHOI'
print(dic)

dic['noname'] = 'nonono'
print(dic)

print(dic['noname'])

del dic[1]
print(dic)

# print(dic['nokey']) # 오류출력

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

# keys()는 dic_keys라는 객체를 return

a = dic.keys()
print(a)

for k in dic.keys():
    print(k)

# dic_keys 객체를 다시 list로 변환해서 사용

a = list(dic.keys())
print(a)

for k in a:
    print(k)

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

a = dic.items()

print(a)

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

dic.clear()

print(dic)

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

print(dic.get(1))
print(dic.get('nokey'))
print(dic.get('nokey', 'default return if no key'))

print(1 in dic)
print(4 in dic)

## 02-6 집합 자료형

In [ ]:
s1 = set([1,2,3])
print(s1)

s2 = set('Hello')
print(s2)

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1&s2)
print(s1.intersection(s2))

print(s1|s2)
print(s1.union(s2))

print(s1-s2)
print(s1.difference(s2))

기타 집합 관련 함수 
- add
- update
- remove

## 02-7 자료형의 참과 거짓

In [ ]:
if []:
    print("True")
else:
    print("False")


if "":
    print("True")
else:
    print("False")


if 0:
    print("True")
else:
    print("False")    
    

if None:
    print("True")
else:
    print("False")

## 02-8 변수

In [ ]:
type(3.2)

In [ ]:
a = 3
b = 3
a is b

In [ ]:
import sys
sys.getrefcount(3)

In [ ]:
a = 3
b = 5
print(" a = %d , b = %d" % (a, b))

In [ ]:
a, b = b, a
print(" a = %d , b = %d" % (a, b))

In [ ]:
del(a)
del(b)

a = [1, 2, 3]
b = a
print(a, b)

In [ ]:
a[0] = 4
print(a,b)

In [ ]:
del(a)
del(b)

a = [1,2,3]
b = a[:]

a[0] = 4
print(a,b)

## 03-1 if 문

In [ ]:
a = 401
if a > 400 :
    print("larger than 400")
else:
    print("smaller than 400")

In [ ]:
a = 31
if a is not 30:       # != 대신 is not을 사용할 수 있음
  print('a is not 30')
else:
  print('a is 30')

In [ ]:
del(a)

a = 'check'

if a == 'test':
    print("TEST")
elif a == 'check':
    print("CHECK")
elif a == 'then':
    print("THEN")
else:
    print("OTHERS")

## 03-2 while 문

In [ ]:
del(a)

a = 0
total = 0
while a < 20:
    total = total + a
    a = a + 2

print(total)

## 03-3 for 문

In [ ]:
for i in range (0,10):
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
del(a)
a = ['a', 'b', 'c', 'd']

for i in a:
    print(i)

In [ ]:
for i in range(len(a)):
    print(a[i])

In [ ]:
for i in range(0,4):
    print(a[i])

In [ ]:
del(b)
b = [1, 2, 3, 4, 5]
result = [i * 3 for i in b if i%2 == 0]
print(result)

## 04-1 함수

In [ ]:
# lambda를 사용한 간단한 함수

add = lambda a, b : a + b
add(2,3)

In [ ]:
def sum(a,b):
    return a+b

a = 3
b = 4
print(sum(a,b))

In [ ]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

print(sum_many(1,2,3,4,5,6,7))

In [ ]:
def sum_and_mul(a,b):
    return a+b, a*b

print(sum_and_mul(4,5))

## 04-2 사용자 입력과 출력

In [ ]:
a = input("아무 글자나 입력해 보세요: ")

a = a + " "
result = a * 3
print(result)

In [ ]:
print("life" "is" "too short")
print("life"+"is"+"too short")
print("life", "is", "too short")

for i in range(10):
    print(i, end=' ')

## CSV 파일 읽기

In [ ]:
import pandas

data = pandas.read_csv("https://raw.githubusercontent.com/lorien94/Practice2/main/UB_Data.csv")
print(data)