## Jupyter Notesbook 사용법

단축키 : http://dbrang.tistory.com/1174

- Edit 모드로 들어가려면 cell 위에서 ENTER
- 다시 Command 모드로 나오려면 ESC

Code를 수행시키려면 Ctrl+ENTER

Y: code, M: markdown, R: raw

A: insert above, B: insert below

dd: 선택 셀 삭제

## 02-1 숫자형

In [ ]:
a = 2 ** 4
print(a)

a = 7 / 4
print (a)

a = 7 // 4    # 몫만 취하는 나누기
print (a)

16
1.75
1

In [ ]:
# round (숫자, 표시할 소수점 자릿수)

print(round (3.141592, 3))
print(round (3.4))
print(round (3.6))

3.142
3
4

In [ ]:
a = 3.141592
print(a, '   ', type(a))
a = int (a)
print(a, '   ',  type(a))
a = float (a)
print(a, '   ',  type(a))

3.141592     <class 'float'>
3     <class 'int'>
3.0     <class 'float'>

## 02-2 문자열

In [ ]:
multiline = '''
Multi-line string test
Multi-line Multi-line Multi-line Multi-line Multi-line 

'''
print(multiline)

Multi-line string test
Multi-line Multi-line Multi-line Multi-line Multi-line

In [ ]:
a = "abcdefg"
print(a[0])
print(a[6])
print(a[-1])
print(a[-2])

a
g
g
f

In [ ]:
print(a)
print(a[:])
print('---')

print(a[:3])
print(a[0:3])
print('---')

print(a[1:3])
print('---')

print(a[3:])

abcdefg
abcdefg
---
abc
abc
---
bc
---
defg

In [ ]:
a = "Pithon"
# a[1] = 'y'    # 오류를 출력하게됨

In [ ]:
b = a [:1] + 'y'+ a[2:]
print(b)

Python

In [ ]:
a = 3
print("I eat %d apples" % a)
print("I eat %s apples" % "three")

print("I eat %d apples , I eat %s apples" % (a,"three"))

print("I eat %f apples" % 3.14)
print("I eat %s apples" % 3.14)

print("%d %% increased." % 4)

I eat 3 apples
I eat three apples
I eat 3 apples , I eat three apples
I eat 3.140000 apples
I eat 3.14 apples
4 % increased.

In [ ]:
print("|%10d|" % 314)
print("|%-10d|" % 314)
print("|%10.2f|" % 3.141592)

|       314|
|314       |
|      3.14|

In [ ]:
a = "hobby"

print(a.count('b'))

print(a.find('o'))
print(a.find('s'))

print(a.index('o'))
print(a.index('s'))

2
1
-1
1

ValueError: ignored

In [ ]:
a = ","
b = a.join('abcd')
print(b)

a,b,c,d

In [ ]:
a = '   hi there   '

print('|' + a.upper() + '|')
print('|' + a.lower() + '|')

print('|' + a.lstrip() + '|')
print('|' + a.rstrip() + '|')
print('|' + a.strip() + '|')

print(a.replace("hi", "hello"))

|   HI THERE   |
|   hi there   |
|hi there   |
|   hi there|
|hi there|
   hello there

In [ ]:
a = "Life is too short"
print(a.split())

a = "Life:is:too:short"
print(a.split())
print(a.split(':'))

['Life', 'is', 'too', 'short']
['Life:is:too:short']
['Life', 'is', 'too', 'short']

## 02-3 리스트 자료형

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[-1])
print(a[-1][0])

['a', 'b', 'c']
a

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[1:3])

print(str(a[3])+'hi')

a[2] = 100
print(a)

[2, 3]
4hi
[1, 2, 100, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]

a[1:2] = ['a', 'b', 'c']
print(a)

[1, 'a', 'b', 'c', 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]

a[1] = ['a', 'b', 'c']
print(a)

[1, ['a', 'b', 'c'], 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]

del a[1]
print(a)

[1, 3, 4, 5]

그 이외의 함수들
- append
- sort
- reverse
- index
- insert
- remove
- pop
- count
- extend

## 02-4 튜플 자료형

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3

# del t3[2] # 오류출력

## 02-5 딕셔너리 자료형

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}
print(dic)

dic[4] = 'CHOI'
print(dic)

dic['noname'] = 'nonono'
print(dic)

print(dic['noname'])

del dic[1]
print(dic)

# print(dic['nokey']) # 오류출력

{1: 'KIM', 2: 'PARK', 3: 'LEE'}
{1: 'KIM', 2: 'PARK', 3: 'LEE', 4: 'CHOI'}
{1: 'KIM', 2: 'PARK', 3: 'LEE', 4: 'CHOI', 'noname': 'nonono'}
nonono
{2: 'PARK', 3: 'LEE', 4: 'CHOI', 'noname': 'nonono'}

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

# keys()는 dic_keys라는 객체를 return

a = dic.keys()
print(a)

for k in dic.keys():
    print(k)

# dic_keys 객체를 다시 list로 변환해서 사용

a = list(dic.keys())
print(a)

for k in a:
    print(k)

dict_keys([1, 2, 3])
1
2
3
[1, 2, 3]
1
2
3

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

a = dic.items()

print(a)

dict_items([(1, 'KIM'), (2, 'PARK'), (3, 'LEE')])

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

dic.clear()

print(dic)

{}

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

print(dic.get(1))
print(dic.get('nokey'))
print(dic.get('nokey', 'default return if no key'))

print(1 in dic)
print(4 in dic)

KIM
None
default return if no key
True
False

## 02-6 집합 자료형

In [ ]:
s1 = set([1,2,3])
print(s1)

s2 = set('Hello')
print(s2)

{1, 2, 3}
{'e', 'l', 'H', 'o'}

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1&s2)
print(s1.intersection(s2))

print(s1|s2)
print(s1.union(s2))

print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

기타 집합 관련 함수 
- add
- update
- remove

## 02-7 자료형의 참과 거짓

In [ ]:
if []:
    print("True")
else:
    print("False")


if "":
    print("True")
else:
    print("False")


if 0:
    print("True")
else:
    print("False")    
    

if None:
    print("True")
else:
    print("False")

False
False
False
False

## 02-8 변수

In [ ]:
type(3.2)

float

In [ ]:
a = 3
b = 3
a is b

True

In [ ]:
import sys
sys.getrefcount(3)

1241

In [ ]:
a = 3
b = 5
print(" a = %d , b = %d" % (a, b))

 a = 3 , b = 5

In [ ]:
a, b = b, a
print(" a = %d , b = %d" % (a, b))

 a = 5 , b = 3

In [ ]:
del(a)
del(b)

a = [1, 2, 3]
b = a
print(a, b)

[1, 2, 3] [1, 2, 3]

In [ ]:
a[0] = 4
print(a,b)

[4, 2, 3] [4, 2, 3]

In [ ]:
del(a)
del(b)

a = [1,2,3]
b = a[:]

a[0] = 4
print(a,b)

[4, 2, 3] [1, 2, 3]

## 03-1 if 문

In [ ]:
a = 401
if a > 400 :
    print("larger than 400")
else:
    print("smaller than 400")

larger than 400

In [ ]:
a = 31
if a is not 30:       # != 대신 is not을 사용할 수 있음
  print('a is not 30')
else:
  print('a is 30')

a is not 30

In [ ]:
del(a)

a = 'check'

if a == 'test':
    print("TEST")
elif a == 'check':
    print("CHECK")
elif a == 'then':
    print("THEN")
else:
    print("OTHERS")

CHECK

## 03-2 while 문

In [ ]:
del(a)

a = 0
total = 0
while a < 20:
    total = total + a
    a = a + 2

print(total)

90

## 03-3 for 문

In [ ]:
for i in range (0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
del(a)
a = ['a', 'b', 'c', 'd']

for i in a:
    print(i)

a
b
c
d

In [ ]:
for i in range(len(a)):
    print(a[i])

a
b
c
d

In [ ]:
for i in range(0,4):
    print(a[i])

a
b
c
d

In [ ]:
del(b)
b = [1, 2, 3, 4, 5]
result = [i * 3 for i in b if i%2 == 0]
print(result)

[6, 12]

## 04-1 함수

In [ ]:
# lambda를 사용한 간단한 함수

add = lambda a, b : a + b
add(2,3)

5

In [ ]:
def sum(a,b):
    return a+b

a = 3
b = 4
print(sum(a,b))

7

In [ ]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

print(sum_many(1,2,3,4,5,6,7))

28

In [ ]:
def sum_and_mul(a,b):
    return a+b, a*b

print(sum_and_mul(4,5))

(9, 20)

## 04-2 사용자 입력과 출력

In [ ]:
a = input("아무 글자나 입력해 보세요: ")

a = a + " "
result = a * 3
print(result)

아무 글자나 입력해 보세요: abc
abc abc abc

In [ ]:
print("life" "is" "too short")
print("life"+"is"+"too short")
print("life", "is", "too short")

for i in range(10):
    print(i, end=' ')

lifeistoo short
lifeistoo short
life is too short
0 1 2 3 4 5 6 7 8 9